html, body {
    margin: 0;
        
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: aquamarine; */
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #37CC8F;
    padding: 10px 20px 0px;
    color: #ED8803;
}
.menu ul li {
    margin-bottom: 15px;
}
.menu a {
    color: #056c6c;
    text-decoration: none;
}
.header {
    background-color: #056c6c;
    min-height: 120px;
    padding: 10px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 30px 30px 20px 30px;
}
.footer {
    background-color: #ED8803;
    min-height: 85px;
    padding-top: 40px;
}